<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2017 XEBIALABS

    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->
<!--

    THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS
    FOR A PARTICULAR PURPOSE. THIS CODE AND INFORMATION ARE NOT SUPPORTED BY XEBIALABS.

-->
<Server port="0" shutdown="SHUTDOWN" debug="0">
    <Service name="Catalina">
        <Connector port="${install.server.web.https.port}"
                   address="${install.server.web.ip}"
                   server="SERVER"
                   maxThreads="150"
                   minSpareThreads="25"
                   maxSpareThreads="75"
                   enableLookups="false"
                   acceptCount="100"
                   debug="0"
                   connectionTimeout="20000"
                   disableUploadTimeout="true"
                   compression="1024"
                   noCompressionUserAgents="gozilla, traviata"
                   compressableMimeType="text/html,text/xml,text/javascript,text/css,text/plain,application/json"
                   algorithm="${install.server.ssl.algorithm}"
                   SSLEnabled="true"
                   scheme="https"
                   secure="true"
                   clientAuth="false"
                   URIEncoding="UTF-8"
                   ciphers="${install.server.ssl.enabledCiphers}"
                   sslEnabledProtocols="${install.server.ssl.enabledProtocols}"
                   keystoreFile="conf/tomcat.keystore"
                   keystorePass="changeit" />
        <Connector port="${install.server.web.port}"
                   address="${install.server.web.ip}"
                   server="SERVER"
                   maxThreads="150"
                   minSpareThreads="25"
                   maxSpareThreads="75"
                   enableLookups="false"
                   acceptCount="100"
                   debug="0"
                   connectionTimeout="20000"
                   disableUploadTimeout="true"
                   compression="1024"
                   noCompressionUserAgents="gozilla, traviata"
                   compressableMimeType="text/html,text/xml,text/javascript,text/css,text/plain,application/json"
                   SSLEnabled="false"
                   scheme="http"
                   secure="true"
                   clientAuth="false"
                   URIEncoding="UTF-8" />
        <Engine name="Catalina" defaultHost="localhost" debug="0">
            <Host name="localhost"
                  debug="0"
                  appBase="webapps"
                  unpackWARs="true"
                  autoDeploy="false"
                  deployOnStartup="true"
                  xmlValidation="false"
                  xmlNamespaceAware="false">
                <!-- We can add the reloadable="true" attribute to the context to
                |	allow jsp reloading within tomcat.  This is disabled by default.
                -->
                <Context path=""
                         docBase="ROOT"
                         debug="0"
                         reloadable="false"
                         useHttpOnly="true"
                         sessionCookieName="JSESSIONID_${install.server.web.port}">
                    <!-- 	we can add an empty pathname attribute like 'pathname=""' to this manager
                          to disable persisting sessions to disk on server restart.	-->
                    <Manager className="org.apache.catalina.session.StandardManager" pathname=""/>
                    <Valve className="org.apache.catalina.authenticator.NonLoginAuthenticator" disableProxyCaching="true" securePagesWithPragma="false"/>
                </Context>
                <DefaultContext>
                    <Manager className="org.apache.catalina.session.StandardManager" pathname=""/>
                </DefaultContext>
            </Host>
        </Engine>
    </Service>
</Server>